.nav-item:hover{
 font-size: 25px;
}
.jumbotron:hover{
  background-color: rgb(174, 212, 218);
}
.body{
  min-width: 1219px;
  width: 100%;
  margin: 0 auto;
}
.container-fluid{
  border-radius: 30px;
  background-color: rgb(174, 212, 218);
}
